html,
body {
	padding: 0;
	margin: 0;
	background-color: #e6e9ed;
	color: #222222;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply py-2 px-8 text-xl text-center text-light tracking-wider font-semibold bg-primary   rounded;
	}


	.vote-display {
		@apply flex items-center space-x-2 p-3 text-lg  font-semibold text-secondary;
	}
}
