html,
body {
	padding: 0;
	margin: 0;
	background-color: #C2FFF9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply p-4  text-center  text-white rounded;
	}

	,
	.btn:hover {
		@apply bg-gray-800 transition duration-700 cursor-pointer;
	}

	
	.vote-display {
		@apply flex items-center space-x-2 text-xl;
	}
}
